# Environment variables
.env

# Requirements files
requirements-old.txt

# Virtual environments
.venv/
venv/
footy-guide/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Data files
data/

# OS files
.DS_Store

# IDE files
.vscode/
.idea/


# API keys
keys.py
secrets.py
config.py

# Streamlit
.streamlit/